<a href="https://colab.research.google.com/github/abhijadhav14/PythonPractice/blob/main/nov11_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists

In [1]:
fruits = ["apple","banana","cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [2]:
print(fruits[1])

banana

In [4]:
fruits[0] = "mango"
print(fruits)

['mango', 'banana', 'cherry']

In [6]:
fruits.append("orange")
print(fruits)

['mango', 'banana', 'cherry', 'orange']

Tuple

In [8]:
coordinates = (10,20,30)
print(coordinates)

(10, 20, 30)

In [9]:
print(coordinates[1])

20

Dictionary

In [10]:
student = {"name":"Alice","age":21,"major":"Computer Science"}
print(student)

{'name': 'Alice', 'age': 21, 'major': 'Computer Science'}

In [11]:
print(student["name"])

Alice

In [13]:
student["age"] = 22
print(student)

{'name': 'Alice', 'age': 22, 'major': 'Computer Science'}

In [14]:
student["gruduation_year"] = 2024
print(student)

{'name': 'Alice', 'age': 22, 'major': 'Computer Science', 'gruduation_year': 2024}

In [30]:
list = [6,7,8,9,10,11,12]
print(list)

[6, 7, 8, 9, 10, 11, 12]

In [31]:
list.append(13)
list.append(5)
print(list)

[6, 7, 8, 9, 10, 11, 12, 13, 5]

In [32]:
list.sort()
print(list)

[5, 6, 7, 8, 9, 10, 11, 12, 13]

SIMPLE CALCULATOR

In [34]:
2import math

def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Division by zero error!"
    else:
        return x / y

def logarithm(x, base):
    if x <= 0:
        return "Logarithm undefined for zero or negative values!"
    else:
        return math.log(x, base)

while True:
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    print("5. Logarithm")
    print("6. Exit")

    choice = input("Enter choice(1/2/3/4/5/6): ")

    if choice in ('1', '2', '3', '4'):
        try:
            num1 = int(input("Enter first number: "))
            num2 = int(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter numbers only.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

    elif choice == '5':
        try:
            num = float(input("Enter the number for logarithm: "))
            base = float(input("Enter the base for logarithm (e.g., 10 for log10): "))
            result = logarithm(num, base)
            print(f"log base {base} of {num} =", result)
        except ValueError:
            print("Invalid input. Please enter numbers only.")

    elif choice == '6':
        print("Exiting calculator.")
        break
    else:
        print("Invalid Input")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Logarithm
6. Exit
Enter choice(1/2/3/4/5/6): 1
Enter first number: 10
Enter second number: 20
10 + 20 = 30
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Logarithm
6. Exit
Enter choice(1/2/3/4/5/6): 4
Enter first number: 40
Enter second number: 0
40 / 0 = Division by zero error!
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Logarithm
6. Exit
Enter choice(1/2/3/4/5/6): 5
Enter the number for logarithm: 50
Enter the base for logarithm (e.g., 10 for log10): 10
log base 10.0 of 50.0 = 1.6989700043360185
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Logarithm
6. Exit
Enter choice(1/2/3/4/5/6): 7
Invalid Input
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Logarithm
6. Exit
Enter choice(1/2/3/4/5/6): 6
Exiting calculator.

In [33]:
#Simple Calculator using functions
def add(x, y):
  return x + y

def subtract(x, y):
  return x - y

def multiply(x, y):
  return x * y

def divide(x, y):
  if y == 0:
    return "Division by zero error!"
  else:
    return x / y


while True:
  print("Select operation:")
  print("1. Add")
  print("2. Subtract")
  print("3. Multiply")
  print("4. Divide")
  print("5. Exit")

  choice = input("Enter choice(1/2/3/4/5): ")

  if choice in ('1', '2', '3', '4'):
    try:
      num1 = int(input("Enter first number: "))
      num2 = int(input("Enter second number: "))
    except ValueError:
      print("Invalid input. Please enter numbers only.")
      continue

    if choice == '1':
      print(num1, "+", num2, "=", add(num1, num2))

    elif choice == '2':
      print(num1, "-", num2, "=", subtract(num1, num2))

    elif choice == '3':
      print(num1, "*", num2, "=", multiply(num1, num2))

    elif choice == '4':
      print(num1, "/", num2, "=", divide(num1, num2))

  elif choice == '5':
    break
  else:
    print("Invalid Input")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice(1/2/3/4/5): 1
Enter first number: 10
Enter second number: 20
10 + 20 = 30
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice(1/2/3/4/5): 4
Enter first number: 20
Enter second number: 0
20 / 0 = Division by zero error!
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice(1/2/3/4/5): 6
Invalid Input
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice(1/2/3/4/5): 5