<a href="https://colab.research.google.com/github/abhijadhav14/PythonPractice/blob/main/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Write a program to add two programs in python with function.

def sum(a, b):#hello
    return a + b

num1 = 10
num2 = 5
sum_result = sum(num1, num2)
print(f"The sum of {num1} and {num2} is: {sum_result}")

The sum of 10 and 5 is: 15

In [ ]:
#2.Write a program to add two programs with float in python

def add_two_numbers(a, b):
    return a + b

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
result = add_two_numbers(a, b)
print("The sum is:", result)

Enter first number: 10.2
Enter second number: 3.50
The sum is: 13.7

In [ ]:
#3.Python program to find the maximum of two numbers

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("The maximum is:", max(a, b))

Enter first number: 90
Enter second number: 65
The maximum is: 90

In [ ]:
#4.Python program to find factorial of given number

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

n = int(input("Enter a number: "))
print("The factorial is:", factorial(n))

Enter a number: 3
The factorial is: 6

In [ ]:
#5.Python program to swap elements at given positions

a = input("Enter a = ")
b = input("Enter b = ")

temp = a
a = b
b = temp
print("a =",a)
print("b =",b)

Enter a = 20
Enter b = 0
a = 0
b = 20

In [ ]:
#6.Python code to merge dict

dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

In [ ]:
#7.Program to Find the size of tuples

tpl = (1, 2, 3, 4, 5)
print("Size of tuple:", len(tpl))

Size of tuple: 5

In [ ]:
#8.Python code to find sum of elements in given array.

arr = [1, 2, 3, 4, 5]
sum = 0
for i in arr:
    sum += i
print("Sum of array elements:", sum)

Sum of array elements: 15

In [ ]:
#9.Python program to find maximum in arr[] of size n

arr = [13, 12, 23, 64, 35]
max = arr[0]
for i in arr:
    if i > max:
        max = i
print("Maximum in array:", max)

Maximum in array: 64

In [ ]:
#10.Python program to find simple interest for given principal amount, time and rate of interest.

def simple_interest(p, t, r):
    return (p * t * r) / 100


principal = float(input("Enter the principal amount: "))
time = float(input("Enter the time period (in years): "))
rate = float(input("Enter the rate of interest (per year): "))

interest = simple_interest(principal, time, rate)
print("Simple interest:", interest)

Enter the principal amount: 10000
Enter the time period (in years): 4
Enter the rate of interest (per year): 12
Simple interest: 4800.0

In [ ]:
#11.Find the Length of a List Using len() Function

lst = [1, 2, 3, 4, 5]
print("Length of list:", len(lst))

Length of list: 5

In [ ]:
#12.Python program to check whether element is present or not

lst = [1, 2, 3, 4, 5]
element = 3
if element in lst:
    print("Element is present in the list")
else:
    print("Element is not present in the list")

Element is present in the list

In [ ]:
#13.Python program to find area of triangle

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = 0.5 * base * height
print("The area of the triangle is:", area)

Enter the base of the triangle: 13
Enter the height of the triangle: 24
The area of the triangle is: 156.0

In [ ]:
#14.Python program to find area of circle

radius = float(input("Enter the radius of the circle: "))
area = 3.14 * radius * radius
print("The area of the circle is:", area)

Enter the radius of the circle: 43
The area of the circle is: 5805.860000000001

In [5]:
#15.Python program to Adding elements of the matrix.

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum = 0
for row in matrix:
    for element in row:
        sum += element

print("Sum of matrix elements:", sum)

Sum of matrix elements: 45

In [3]:
#16. Python Programs to Transpose a Matrix in Single Line

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]

print("Original matrix:")
for row in matrix:
    print(row)

print("Transposed matrix:")
for row in transpose:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [ ]:
#17. Python program to Reverse List

lst = [1, 2, 3, 4, 5]
lst.reverse()
print("Reversed list:", lst)

Reversed list: [5, 4, 3, 2, 1]

In [6]:
#18.Python program to Insertion at the beginning in OrderedDict

from collections import OrderedDict

od = OrderedDict([('a', 1), ('b', 2), ('c', 3)])
od.update({'d': 4})
od.move_to_end('d', last=False)

print("Updated OrderedDict:", od)

Updated OrderedDict: OrderedDict([('d', 4), ('a', 1), ('b', 2), ('c', 3)])

In [2]:
#19.Python program to Check order of character in string using OrderedDict( )

from collections import OrderedDict

def check_order(string, pattern):
    od = OrderedDict.fromkeys(string)
    ptrlen = 0
    for key, value in od.items():
        if key == pattern[ptrlen]:
            ptrlen += 1
        if ptrlen == len(pattern):
            return True
    return False

print(check_order('hello', 'el'))

True

In [11]:
#20.Reverse Words in a Given String in Python Assignment 3

def reverse_words(string):
    words = string.split()
    reversed_words = ' '.join(reversed(words))
    return reversed_words

string = "Hello, world!"
reversed_string = reverse_words(string)
print(reversed_string)

world! Hello,

In [12]:
#21.Python for loop to iterate through the letters in a word

word = "hello"
for letter in word:
    print(letter)

h
e
l
l
o

In [16]:
#22.Python for loop using the range() function

for i in range(0, 6):
    print(i)

0
1
2
3
4
5

In [14]:
#23.Python for loop to iterate through a list

lst = [1, 2, 3, 4, 5]
for element in lst:
    print(element)

1
2
3
4
5

In [19]:
#24.Python for loop to iterate through a dictionary

dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in dict.items():
    print(key, value)

a 1
b 2
c 3

In [18]:
#25.Using else statement inside a for loop in Python

for i in range(0, 6):
    print(i)
else:
    print("Loop finished")

0
1
2
3
4
5
Loop finished

In [23]:
#26.Nested for loops in Python (one loop inside another loop)

for i in range(1, 5):
    for j in range(1, 5):
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4